<div class="container">
    <div class="row p-5">
        <div class="col-12">
            <div class="row section-banner">
                <div class="col-6">
                    <h2>Listado de Productos</h2>
                </div> 
                <div class="col-6 btn-agregar">
                    <button class="btn btn-primary">Nuevo producto</button>
                </div>
            </div>            
        </div>       
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Disponible</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lista of listaProductos; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{lista.descripcion}}</td>
                        <td>{{lista.cantidad}} und.</td>
                        <td>{{lista.enable === 'S' ? 'Si' : 'No'}}</td>
                        <td><button class="btn btn-success">Editar</button></td>
                        <td><button class="btn btn-danger">Eliminar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>